<%= stylesheet_link_tag "tweet_edit", :media => "all" %>

<div class="tweet-edit">

<div class="head row favorite-head-title">
    <h1>Chiller</h1>
    <%=link_to "投稿一覧へ" ,tweets_path , class:"link-favorites-head"%>
</div>


    <%=form_for @tweet do |f|%>
<div class="edit-body">
        <%=f.text_field :body ,:size=>500 , class:"edit-body-body"%>
    <div class="edit-body-img">
        <p>画像変更</p>
        <%=f.file_field :image%>
    </div>
        <%=f.submit '編集する' , class: "edit-body-edit"%>
</div>
    <%end%>
</div>

