<%= stylesheet_link_tag "favorites", :media => "all" %>

<div class="favorites">

<div class="head row favorite-head-title">
    <h1>Chiller</h1>
    <%=link_to "投稿一覧へ" ,tweets_path , class:"link-favorites-head"%>
</div>


    <h2 class="favorite-title">いいねした投稿</h2>
<div class="mytweets">
        <%current_user.liked_tweets.each do |t|%>
    <div class="mytweet">
        <div class="mytweet-img">
            <%= image_tag t.image_url, size: "250x200" if t.image?  %>
        </div>
        <div>
            <div class="mytweet-body-box">
              <div class="mytweet-body">
                <%=t.body%>
              </div>
            </div>
            <div class="mytweet-created">
            <%=t.created_at %>
            <%=t.user.name%>
            (♡<%=t.liked_users.count%>)
            </div>
        </div> 
    </div>
        <%end%>
</div>

</div>