<%= stylesheet_link_tag "tweet_show", :media => "all" %>

<div class="favorites">

<div class="head row favorite-head-title">
    <h1>Chiller</h1>
    <%=link_to "投稿一覧へ" ,tweets_path , class:"link-favorites-head"%>
</div>

<div class="tweet-show-body">
  <div class="mytweet-img">
    <%= image_tag @tweet.image_url, size: "250x200" if @tweet.image? %>
  </div>
  <div>
    <div class="mytweet-body-box">
     <div class="mytweet-body">
        <%=@tweet.body%>
     </div>   
    </div>
    <div class="likes-count">
      <div class="likes-count-box">
        <%if current_user.already_liked?(@tweet)%>
            <%= button_to 'いいねを取り消す', tweet_like_path(@tweet), method: :delete , class:"link-likes-count"%>
        <%else%>
            <%= button_to 'いいね', tweet_likes_path(@tweet) , class:"link-likes-count"%>
        <%end%>
        <p>いいね件数: <%= @tweet.likes.count %></p>
      </div>
      <div class="likes-count-time">
        <%=@tweet.created_at%>
        <%@tweet.liked_users.each do |user|%>
      </div>
    </div>
    <%end%>
  </div>



</div>

</div>



